# Optional shared API base for all platforms
# EXPO_PUBLIC_API_BASE_URL=https://your-api-domain/api/v1

# Optional platform-specific values
EXPO_PUBLIC_API_BASE_URL_MOBILE=http://192.168.1.9:8080/api/v1
EXPO_PUBLIC_API_BASE_URL_WEB=http://localhost:8080/api/v1
